<div class="content">
  <div class="row">
    <div class="col-md-12 ">
      <div class="card">
        <div class="card-header text-center">
          <h2 class="card-title">Nova delegação</h2>
        </div>
        <div class="card-body" style="height:700px;">
          <div class="row">
            <div class="col-md-12 ">
              <div class="card-body px-lg-5 pt-0 pt-30 "  id="cardSolici">
                    <form class="text-left " style="color: #757575;" action="index.html" method="post" id="delegacao" >
                      <div class="col">
                        <div class="md-form">
                          
                            <select name="tipo" id="tipo" class="form-control form-control-lg"  required>
                              <%tipos.forEach(function(delegacao){%>
                                <option value="<%=delegacao.id%>"><%=delegacao.nome%></option>
                              <%});%>
                            </select>

                          
                        </div>

                        <div class="body-delegacao max-height-50 overflow-auto" style="height:550px">
                        
                        </div>

                      </div>
                    </form>
                  </div>
                  <div class="card-footer">
                    <div class="form-group float-right mr-5">
                      <button type="button" class="btn btn-success btn-sm">
                      <span class="glyphicon glyphicon-send"></span> Enviar</button>
                      <button type="submit" class="btn btn-success btn-sm" id ="guardar">
                      <span class="glyphicon glyphicon-floppy-disk" ></span> Guardar</button>
                      <button type="submit" class="btn btn-success btn-sm">
                      <span class="glyphicon glyphicon-print" id="imprimir"></span> Imprimir</button>
                    </div>

                  </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="places-buttons">
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto text-center">
                <h4 class="card-title">
                  Ítens
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 ml-auto mr-auto">
                <div class="card  overflow-auto" style="height: 300px;" >
                  <ul class="overflow-auto list-group  b-10 p-15" id="itens">
                    <li class="list-group-item">Item1</li>
                    <ul>
                      <li class="">Campo</li>
                      <li class="">Campo2</li>
                    </ul>
                  </ul>

              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  //Seleção do tipo de delegação
  $( "#tipo" ).change(function() {
    tipo = $('#tipo option:selected').val();
    render(tipo);
  });

  //função para renderizar os campos baseado no tipo de delegação
  function render(tipo){
    <% tipos.forEach(function(delegacao){%>
      if (tipo == '<%=delegacao.id%>'){
        $('.body-delegacao').html('');
        $('#itens').html('');
        <% delegacao.tipoItens.forEach(function(item){%>
          <%var files = [];%>
          <%for(i = 0; i < item.tipoCampos.length; i++){
            if(item.tipoCampos[i].tipo=='file'){
              files.push(item.tipoCampos[i]);
              item.tipoCampos.splice(i, 1);
            }
          }; %>
          <%item.tipoCampos = item.tipoCampos.concat(files);%>
          htmlItem='<li><%=item.nome%></li>';
          htmlItem+='<ul>';
          htmlCampo='<hr>';
          htmlCampo+='<h3><%=item.nome%></h3>';
          htmlCampo+='<div class="form-row tipo-itens" id="<%=item.id%>">';
          <% size = item.tipoCampos.length>3?'col-4':'col'%>
          <%item.tipoCampos.forEach(function(campo){%>
            <% size = campo.tipo=='textarea'?'col-12':size%>
            htmlCampo+='<div class="<%=size%> orm-group " >';
            htmlCampo+='<label"><%=campo.nome%></label>';
            htmlCampo+='<input name = "campo" data-id="<%=campo.id%>"" type="<%=campo.tipo%>" class="form-control<%=campo.tipo=='file'?'-file':''%> tipo-campos" placeholder="<%=campo.nome%>...">';
            htmlCampo+='</div>';
            htmlItem+='<li><%=campo.nome%></li>';
          <%});%>
          htmlCampo+='</div>';
          htmlItem+='</ul>';
          $('.body-delegacao').append(htmlCampo);
          $('#itens').append(htmlItem);
        <%});%>
      }
    <%});%>
  }
</script>
<script type="text/javascript">
$('#imprimir').click(function(){
   window.print('new', '_blank');

});
$('#guardar').click(function(){
  console.log("oi");
  var dici = new Map();
  tipoSolicitacao = $("select[name='tipo']").val();
  tipoItens = [];
  $(".tipo-itens").each(function(item){
    tipoCampos = [];
    $("#"+$( this ).attr("id")+" .tipo-campos").each(function(campo){
      tipoCampos.push({
        tipoCampo:{
          id:$( this ).attr("data-id")
        },
        valor:$( this ).val()
      });
    });
    tipoItens.push({
      tipoItem:{
        id:$( this ).attr("id")
      },
      campos:tipoCampos,
    });
  });
  dici = {
    tipoSolicitacaoDelegacao:{
      id:tipoSolicitacao
    },
    solicitanteDelegante:{
      id:1
    },
    status:"SALVA",
    itens:tipoItens,
  }
  dici = JSON.stringify(dici);
  console.log(dici);
  $.post("http://localhost:3000/solicitacoes/cadadastrar",{'solicitacao':dici},function(data){
    alert(data);
  });
});
</script>
